*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content{
    flex: 1;
}
/*navbar*/
.navigation{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.logo h1{
    font-weight: 200;
    font-style: italic;
    color: rgb(80, 49, 49);
}
.navigation-links {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 0.6em;
    margin: 20px;
}
.navigation .nav-link{
    text-decoration: none;
    color: black;

}
.nav-link:hover{
    color: rgb(211, 185, 152);
    
}
.nav-search input{
    outline:none;
    border: 2px solid black;
    width: 50vw;
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
}
.search{
    position: absolute;
    font-size: 20px;
    padding: 8px;
    margin-left: 21%;
}
.account {
    margin-left: 0;
    width: 100%;
    padding: 10px;
    border: none;  
    border-radius: 30px; 
    font-size: 18px;
    background-color: rgb(122, 92, 53);
    color: rgb(248, 243, 243);
    
}
.account:hover{
    background-color: rgb(197, 117, 12);;
}
.icons{
    display: flex;  
}
/*Home*/
.first-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    gap: 10em;
    margin-top: 20px;
   
}
.bag-img img{
    height: 200px;
    width: 250px;  

}
/*Shop*/
.product{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
    
}
.store-data{
    display: inline-block;
    margin: 10px;
    width: 40vw;
    text-align: center;
}
.store-image{
    height: 200px;
    margin-top: 6px;

}
.cart{
    display: inline;
}
.cart img{
    height: 200px;
}
/*brands*/
.brands{
    padding: 50px;
    text-align: center;
}
.brand-images{
    display: flex;
    justify-content: space-around;
}
.brands img{
    height: 150px;
    width: 200px;

}
.brands h1{
    display: inline-block;
    margin:20px;
    font-style: italic;
}
/*Cart*/
.cart{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 128px;
}
.cart .card{
    display:flex;
    justify-content:  space-between;
}
/*footer*/
.footer{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: rgb(196, 120, 21);
    flex-wrap: wrap;
}
.footer ul{
    margin: 0;
    padding: 0;
}
.footer ul li{
    list-style: none;
    padding: 8px;
    margin: 0;
    
}
.footer-content{
    flex: 1;
    text-align: start;
    margin-left: 10%;
}